@import '../../variables.scss';
.wrap {
  max-width: 2000px !important;
}
.intra-form {
  background: $secondary;
  color: #fff;
  padding: 30px;
  margin-bottom: 1em;
  &.intra-form--disabled {
    display: none;
  }

  #intra-form-title {
    color: #fff;
    margin: 0 0 10px 0;
  }

  .mktoForm {
    display: flex;
    flex-flow: row wrap;

    [data-field='FirstName'],
    [data-field='Email'] {
      flex-basis: 37.5%;
      padding: 0 5px;
      .mktoFieldWrap {
        margin: 0;
      }
    }

    .mktoButtonRow {
      flex-basis: 25%;
    }

    [data-field='FirstName'] {
      margin-left: 0;
    }
    .mktoButtonRow {
      margin-left: 5px;
    }

    .mktoButton {
      padding: 9px 20px;
    }

    @media screen and (max-width: 768px) {
      [data-field='FirstName'],
      [data-field='Email'],
      .mktoButtonRow {
        flex-basis: 100%;
        .mktoFieldWrap {
          padding: 5px 0;
        }
      }
    }
  }
}
