@import '../../variables.scss';

.popup-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  visibility: hidden;
  &[aria-live='assertive'] {
    visibility: visible;
  }

  .popup-form-underlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(white, 0.6);
    transition: 2s opacity ease;
    opacity: 0;
    visibility: hidden;
  }
  &[aria-live='assertive'] .popup-form-underlay {
    opacity: 1;
    visibility: visible;
  }

  .popup-form-body {
    max-width: 600px;
    background: $secondary;
    margin: 10vh auto;
    padding: 2em;
    z-index: 2;
    position: relative;
    transition: 0.3s opacity ease;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    text-align: center;
    #popup-form-title {
      color: #fff;
      margin-top: 0;
      padding-top: 0;
    }
    #popup-form-title,
    .mktoForm {
      max-width:400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &[aria-live='assertive'] .popup-form-body {
    opacity: 1;
    visibility: visible;
  }

  .popup-form-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 20px;
    height: 20px;
    color: #fff;
    z-index: 100;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background: #fff;
      height: 2px;
      width: 1em;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(135deg);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
